/* globals.css */

/* Sayfa genelindeki varsayılan stil sıfırlaması */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif; /* Daha modern font */
  line-height: 1.6; /* Satır yüksekliği, daha okunabilir */
  background-color: #f4f4f9; /* Açık gri arka plan */
  color: #333; /* Metin rengi */
}
